<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loadify - Upload</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload">
    </form>
    <div id="output"></div>
    <script>
        document.getElementById('upload-form').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            fetch('/upload', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                var output = document.getElementById('output');
                var newElement;
                if (data.filename.endsWith('.jpg')) {
                    newElement = document.createElement('img');
                    newElement.src = '/uploads/' + data.filename;
                    newElement.alt = 'Uploaded Image';
                } else if (data.filename.endsWith('.pdf')) {
                    newElement = document.createElement('embed');
                    newElement.src = '/uploads/' + data.filename;
                    newElement.type = 'application/pdf';
                    newElement.width = '600';
                    newElement.height = '500';
                }
                output.appendChild(newElement);  // Append the new element to the output div
            });
        });
    </script>
</body>
</html>
